.red{
    background-color: red;
}
.blue{
 background-color: blue;
}

/* make a class .box and give some properdy as color, background-color, height, width, and use that class */

.box{
    background-color: aqua;
    color:rgb(197, 167, 167);
    height: auto;
    width: auto;
}